@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Web Client</h1>
    <p class="lead">Go to Subscribe page &raquo;</p>
    <p><a href="~/Home/Subscribe" class="btn btn-primary btn-lg">Subscribe &raquo;</a></p>
</div>